/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url(https://i.pinimg.com/736x/16/d5/c7/16d5c7e04d8042d4c6bb84556c64fe33.jpg)
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Trebuchet MS', sans-serif
}

/* and we can have rules that overlap other rules, both take effect */
h1,h2{
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 200%;
  text-align: center;
  color:#2b432c
}

h3{
  text-align: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 70px;
  padding: 1%;
  border: solid 5px #708d47;
  background-color: #afb797;
  vertical-align: center;
  width: 80%;
  color: #2b432c;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 5px;
  margin-bottom: 20px;
  border: dotted 5px #a37667;
  background-color: #f0cbcb;
  text-align: center;
  margin:auto; 
  color:#2b432c
}

