/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px #a37667;
    text-align: center;
  background-color: #f0cbcb;
  }

  .results {
    width: 100%;

  }
  #content {
    background-color:#afb797;
    width: 95%;
    min-height:300px;
    padding:10px;
    margin:10px;
    border:solid 5px #708d47;
    font-size:20px;
  }

  #major-section{
    text-align: center;
    margin-bottom: 10px;
    border: dotted 5 px #a37667; 
  }

