/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px #a37667;
    background-color: #f0cbcb;
  }

  h1 {
      color: #2b432c;
      font-size: 350%;
  }

  p {
    font-family:"comic sans";
    text-indent: 40px;
    margin-left: 20px;
  }

  #content {
    background-color:#afb797;
    width: 95%;
    min-height:300px;
    padding:10px;
    margin:10px;
    border:solid 5px #708d47;
    font-size:20px;
  }