/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #edeae6;
  }

  h1 {
      color:blanchedalmond;
      font-size: 400%;
  }

  p {
    font-family:"comic sans";
    text-indent: 40px;
    margin-left: 20px;
  }

  #content {
    background-color:#ffc8c3;
    width: 95%;
    min-height:300px;
    padding:10px;
    margin:10px;
    border:dotted 4px #888;
    font-size:20px;
  }